 <div class="nav_mmenu" id="nav_mmenu">
        <div id="nav_mmenu_move">
            <div class="mmenu_inner">
                <div class="mmenu_box">
                    @Html.Raw(ViewBag.PrettyMenu)
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

