<div class="services-home">
    <div class="block">
        @Html.Raw(ViewBag.HomeContent)
    </div>

        <a class="view-detail list" href="/dich-vu">
            <span>DỊCH VỤ KHÁC</span>
        </a>
    </div>
