<div id="five-things-home" class="box-wrapper">
    <h3 class="five-things-title">VÌ SAO NÊN CHỌN PALMY VIỆT NAM?</h3>
    <table border="0" cellpadding="0" cellspacing="0" width="90%">
        <tbody>
            <tr>
                <td style="padding-right: 5px;"><img alt="" src="/Content/images/no1.png" style="width: 55px; height: 55px;" /></td>
                <td>
                    <b>Chuyên nghiệp</b><br />
                    Đội ngũ sản phẩm được đào tạo, huấn luyện chuyên sâu<br />
                    Sử dụng trang thiết bị, dụng cụ chuyên dùng hiện đại.
                </td>
            </tr>
            <tr>
                <td style="padding-right: 5px;"><img alt="" src="/Content/images/no2.png" style="width: 55px; height: 55px;" /></td>
                <td>
                    <b>Hiệu quả</b><br />
                    Cung cấp giải pháp tối ưu dựa trên yêu cầu và đặc điểm kinh doanh của khách hàng với giá cả hợp lý.<br />
                    Tạo ra giá trị gia tăng cho hoạt động kinh doanh của Khách hàng.
                </td>
            </tr>
            <tr>
                <td style="padding-right: 5px;"><img alt="" src="/Content/images/no3.png" style="width: 55px; height: 55px;" /></td>
                <td>
                    <b>Tận tâm</b><br />
                    Thỏa mãn nhu cầu đa dạng của Khách hàng.<br />
                    Giải quyết nhanh chóng khiếu nại của Khách hàng.<br />
                    Không ngừng nâng cao chất lượng dịch vụ.
                </td>
            </tr>
            <tr>
                <td style="padding-right: 5px;"><img alt="" src="/Content/images/no4.png" style="width: 55px; height: 55px;" /></td>
                <td>
                    <b>Uy tín được khẳng định với nhiều khách hàng trong & ngoài nước tin tưởng sử dụng dịch vụ</b>
                </td>
            </tr>
            <tr>
                <td style="padding-right: 5px;"><img alt="" src="/Content/images/no5.png" style="width: 55px; height: 55px;" /></td>
                <td>
                    <b>Chúng tôi luôn cam kết đem lại chất lượng dịch vụ tốt nhất cho quý khách hàng.</b>
                </td>
            </tr>
        </tbody>
    </table>
</div>