<div class="box-wrapper">
    <h3 class="box-title">
        <a href="/dich-vu/ve-sinh-cong-nghiep">
            <span>VỆ SINH CÔNG NGHIỆP PALMY VIETNAM</span>
        </a>
    </h3>

    <div id="introduction-thumbnail">
        @{Html.RenderAction("_ImgPostHome1st", "MainPartialView");}
    </div>
    <div id="introduction-text">
        <p>
            Công ty Palmy Vietnam là công ty hoạt động trong lĩnh vực dịch vụ vệ sinh công nghiệp, chuyên cung ứng dịch vụ vệ sinh, nhân công lao động cho các công trình xây dựng diện tích lớn, văn phòng, toà nhà, hộ gia đình và các cá nhân có nhu cầu trên địa bàn thành phố Hà Nội. Palmy Vietnam sở hữu đội ngũ nhân viên lao động chất lượng, dồi dào, có tay nghề và kinh nghiệm trong lĩnh vực vệ sinh.
        </p>
        <p>
            Một hệ thống nhân công chuyên nghiệp, tận tâm được đào tạo chuyên sâu mang đến cho khách hàng sự hài lòng và ghi nhớ thương hiệu của công ty.
        </p>
    </div>
    <div id="introduction-message">
        <p>
            <strong>"Trên thị trường có rất nhiều đơn vị cung cấp dịch vụ vệ sinh nhưng Palmy Vietnam tự hào là một trong số ít những công ty vệ sinh công nghiệp chuyên nghiệp, áp dụng hệ thống quản lý chất lượng ISO 9001:2008, đạt chuẩn quốc tế “Industrial Cleaning Service” tại Việt Nam."</strong>
        </p>
    </div>  
        <a class="view-detail" href="/dich-vu/ve-sinh-cong-nghiep">
            <span>Xem chi tiết - Nhận khuyến mại đặc biệt...!!!</span>
        </a>
</div>